.pagewrap{
	width: 1200px;
    height: auto;
    margin:0 auto;
    margin-top:30px; 
    justify-content: center;
    display: flex;
    align-content: center;
}
.booklist{
	width: 1000px;
    height: 370px;
/* 	border: solid red; */
}
.bookimg{
	float:left;
	margin-top : 12px;
	margin-left : 12px;
	width : 20%;
	height : 270px;
/* 	border: solid red; */
}

.bookimg>img{
	width:99%;
	height: 99%;
}
.content_wrap{
	float:left;
	margin-top : 12px;
	margin-left : 12px;
	width : 75%;
	height : 270px;
/* 	border: solid red; */
}

.booktitle{
	font-size: 2em;
	font-weight: bold;
}

button {
	margin-left : 10px;
}