.booklist{
	width : 100%;
	height: 300px;
/* 	border: solid red; */
}
.bookimg{
	float:left;
	margin-top : 12px;
	margin-left : 12px;
	width : 20%;
	height : 270px;
/* 	border: solid red; */
}

.bookimg>img{
	width:99%;
	height: 99%;
}
.content_wrap{
	float:left;
	margin-top : 12px;
	margin-left : 12px;
	width : 75%;
	height : 270px;
/* 	border: solid red; */
}

.booktitle{
	font-size: 2em;
	font-weight: bold;
}

.bookcontent{
	
}